
## <summary>policy for validator</summary>

########################################
## <summary>
##	Execute validator_exec_t in the validator domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`validator_domtrans',`
	gen_require(`
		type validator_t, validator_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, validator_exec_t, validator_t)
')

######################################
## <summary>
##	Execute validator in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`validator_exec',`
	gen_require(`
		type validator_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, validator_exec_t)
')
